header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.auth{
    float: right;
}
.result{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.post{
    width: 30%;
    margin: 20px;
}
.post img{
    max-width: 40px;
}