<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
<header>
    <h1>Реддиты</h1>
    <div class="auth">
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <a class="link" href="{{ path('logout') }}">Logout</a>
        {% else %}
        <a href="{{ path('app-sign-up') }}">Регистрация</a>
        <p> или </p>
        <a href="{{ path('auth') }}">Войти</a>
        {% endif %}
    </div>
</header>
<a href="/">Главная</a>
<a href="{{ path('society-profile') }}">Избранное сообществом</a>
{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
<a href="{{ path('profile') }}">Избранное</a>
{% endif %}
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</div>
</body>
</html>
