{% extends 'base.html.twig' %}

{% block body %}
<div class="result">
    {% for result in results %}
        <div class="post">
            <h3> {{ result.data.author }}</h3>
            <p>{{ result.data.title }}</p>
            <img src="{{ result.data.url }}" style="max-width: 100%">
            <p>{{ result.data.created_utc | date("Y-m-d H:i:s") }}</p>
            <p>В избранном у - {{ qty.qty }}</p>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <a href="{{ path('favourite', {'name': result.data.name}) }}">Добавить в избранное</a>
            {% endif %}
        </div>
    {% endfor %}
</div>
    {{ error }}
{% endblock %}

{% block title %}

{% endblock %}

