{% extends 'base.html.twig' %}
{% block body %}
    {{ form(form) }}
    <div class="result">
        {% for result in results %}
            <div class="post">
                <h3> {{ result.data.author }}</h3>
                <p>{{ result.data.title | truncate(30) }}</p>
                <img src="{{ result.data.thumbnail }}">
                <p>{{ result.data.created_utc | date("Y-m-d H:i:s") }}</p>
                <a href="{{ path('detail', {'name': result.data.name}) }}">Подробнее</a>
            </div>
        {% endfor %}
    </div>

{% endblock %}



