{% extends 'base.html.twig' %}

{% block body %}
    {{ form(form) }}
    {% for result in results %}
        <div style="width: 20%">
            <h3> {{ result.data.author }}</h3>
            <p>{{ result.data.title }}</p>
            <img src="{{ result.data.thumbnail }}">
        </div>
    {% endfor %}
{% endblock %}

{% block title %}

{% endblock %}

