{% extends 'base.html.twig' %}

{% block body %}
    <h1>Избранное сообществом</h1>
    {% for i in 1..pages  %}
        <a href="{{ path('society-profile', {'page': i }) }}">{{ i }}</a>
    {% endfor %}
<div class="result">
    {% for result in results %}
        <div class="post">
            <h3> {{ result.data.author }}</h3>
            <p>{{ result.data.title }}</p>
            <img src="{{ result.data.url }}" style="max-width: 100%">
            <p>{{ result.data.created_utc | date("Y-m-d H:i:s") }}</p>
            <a href="{{ path('favourite', {'name': result.data.name}) }}">Добавить в избранное</a>
        </div>
    {% endfor %}
</div>
{% endblock %}

{% block title %}

{% endblock %}

